.dialog .block .content {
  font-weight: 700;
  letter-spacing: -1px
}

body {
  font-family: "Orange Sans 45 light", "HelveticaNeueLT Com 55 Roman", helvetica;
}

.dialogWrapper {
  color: #23232A;
}

.dialog .block .content.font19 {
  font-size: 19px
}
