.dialog .block .content {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1px
}

body {
  font-family: "Orange Sans 45 light", "HelveticaNeueLT Com 55 Roman", helvetica;
}

.dialog .block .content .account {
  color: #007FEB;
}
