@import 'tailwind.css';

body {
  background: #23232A;
  color: white;
}

.font-sample {
  margin-bottom: 2em;
}

.toggle-code-button {
  margin-top: 0.5em;
  display: block;
}

.hljs {
  border-radius: 0.5em;
  background: transparent;
  border: 1px solid #32303a;
  color: #c8cdd2;
  line-height: 1.4;
}

.hljs-string, .hljs-number {
  color: #007feb;
}

.hljs-attribute {
  color: #e91988;
}
