/**
 * You can create Tailwind components using @apply here.
 *
 * Feel free to rename this file, define multiple components here, or make
 * any other files in this directory.

 * Here's an example:
**/

/*
.btn-blue {
 @apply .bg-blue .text-white .font-bold .py-2 .px-4 .rounded;
}
.btn-blue:hover {
 @apply .bg-blue-dark;
}
*/

.hljs {
  /*border-radius: 0.5em;
  background: transparent;
  border: 1px solid #32303a;
  color: #c8cdd2;
  line-height: 1.4;
  padding: 1em;
  font-size: 13px;*/

  @apply rounded-lg border border-grey text-grey p-4 text-sm leading-normal
}

.hljs-string, .hljs-number {
  @apply text-pink
}

.hljs-attribute {
  @apply text-blue
}

.hljs-comment {
  @apply text-grey-dark
}

.toggle-code[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.toggle-code:focus + label {
  @apply bg-blue text-white border-transparent
}

.toggle-code + label + div {
  display: none;
}

.toggle-code:checked + label + div {
  display: block;
}

.toggle-code + label:after {
  font-size: 10px;
  margin-left: 5px;
  content:'▼';
}

.toggle-code:checked + label:after {
  content:'▲';
}
