<h2 class="font-normal my-4 text-center">
  {{#link-to 'font-family-audit' class="rounded-lg py-1 px-2 no-underline text-grey focus:bg-orange focus:text-white focus:outline-none"}}Typography audit of current service{{/link-to}} 
  {{#link-to 'testing-stacks' class="rounded-lg py-1 px-2 no-underline text-grey focus:bg-orange focus:text-white focus:outline-none"}}Testing font stacks{{/link-to}}
</h2>

{{outlet}}
