<h2 class="main-heading">
  {{#link-to 'font-family-audit' class="main-navigation-link"}}Typography audit of current service{{/link-to}}
  {{#link-to 'testing-stacks' class="main-navigation-link"}}Testing font stacks{{/link-to}}
</h2>

{{outlet}}
